@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
  margin: 0px;
	background-color:lightgray;
}
a:link {
    color: darkslategray;
}

a:visited {
    color: rgb(89,89,89);
}

a:hover {
    color: black;
}
 header {
	 background-image: url('spaphoto.jpg');
   min-height: 500px;
   background-repeat: no-repeat;
   background-position: 0 0;
	 background-size: cover;
}
header:hover {
	background-image: url('SpaPhoto2.jpg');
	transition: 2s background-image;
}
h1, h2 {
  font-size:30px;
	color: darkslategray;
	position: relative;
	display:inline;	
	top: 400px;
	left: 330px;
}
h2 {
	padding-left:200px;
}
h3 {
  color:darkslategray;
}

div.summary, 
div.preamble,
.supporting div {
	float:left;
	width: 66%;
	margin-left:30px;
}
div.preamble,
.supporting div {
	background-image:url('rocks.jpg');
	background-repeat:no-repeat;
	background-position:20px 20px;
	background-size: 50px 50px;
	padding-left:10%;
	width: 56%;
}

div.summary {
	border-bottom: 2px solid gray;
}

.supporting div:last-of-type {
	border-bottom: 2px solid gray;
}

div.requirements p:last-child {
    position: absolute;
    right: 5%;
    width: 20%;
    font-style: italic;
    margin-top: -170px;
}
aside {
	margin-top: 50px;
	position: absolute;
	right: 2%;
  float: right;
	width:23%;
  border: 2px solid gray;
  padding: 1.5rem;
	background-color:darkgray;
}
aside h3 {
text-align:center;
}
aside li {
	list-style-type: none;
	padding: 1rem;
}
div.design-selection ul {
	padding: 0 2rem 1rem 2rem;
}
div.design-archives li {
	display: block;
}
div.design-archives h3 {
	display:none;
}
div.design-archives ul {
	padding: 2rem;
	margin: 20px;
	border-top-style:solid;
	border-bottom-style:solid;
}

div.zen-resources h3 {
	display:none;
}
div.zen-resources {
	background-image: url(lilypadcropped.jpg);
	background-repeat: no-repeat;
	background-size: 100px 100px;
	background-position: 100px 50px;
}
div.zen-resources ul {
	padding-top: 200px;
}

footer {
	width:100%;
	float:left;
	background-image: url('lilypad.jpg');
	background-position-y:110px;
	min-height: 500px;
  background-repeat: no-repeat;
	background-size: cover;
	padding-top:45px;
}
footer a {
	margin: 60px;
	padding: 15px;
}
